@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a; /* Color de fondo oscuro */
  color: #eaeaea; /* Color de texto suave para contraste */
}

/* Estilos para el modo claro */
@media (prefers-color-scheme: light) {
  body {
    background-color: #f9f9f9; /* Color de fondo claro */
    color: #1a1a1a; /* Color de texto oscuro */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
